- var items = ['Item Title 1', 'Item Title 2', 'Item Title 3', 'Item Title 4', 'Item Title 5']

.contentAccordion
  for item in items
    .contentAccordionItem
      .contentAccordionItemTitle #{item}
        span.contentAccordionItemToggleIcon
      .contentAccordionItemBody.oneColList
        ul
          - for (var i = 0; i < 4; ++i) {
            li
              h4: a(href='replaceMe') @Html.Ipsum.h4(5)
              @Html.Ipsum.p(1, 8)
              p: a.viewNow(href='replaceMe') &gt; View Now
          - }