- var items = ['Item Title 1', 'Item Title 2', 'Item Title 3', 'Item Title 4', 'Item Title 5']

mixin itemContent(item)
  .contentAccordionItemTitle #{item}
    span.contentAccordionItemToggleIcon
  .contentAccordionItemBody.oneColList
    ul
      - for (var i = 0; i < 3; ++i) {
        li
          h4: a(href='replaceMe') @Html.Ipsum.h4(5)
          @Html.Ipsum.p(1, 6)
          p: a.viewNow(href='replaceMe') &gt; View Now
      - }

.contentAccordion
  each item in items
    - if (item == 'Item Title 1')
      .contentAccordionItem(data-accordion-open="true")
        mixin itemContent(item)
    - else
      .contentAccordionItem
        mixin itemContent(item)
